/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-06-27, 18:16:00
    Author     : marcinwlodarczyk
*/

#search{
    height: 5rem;
}

.category-list{
    position: relative;
    clear: both;
    display: block;
    margin: 0 auto;
    margin-bottom: 6rem;
    width: 70rem;
    height: 10rem;
    overflow: hidden;
}

.caption{
    position: absolute;
    text-decoration: none;
    color: inherit;
    height: 10rem;
    width: 100%;
    display: block;
    text-align: center;
    z-index: 1;
    font-size: 6rem;
    letter-spacing: 3px;
    -webkit-transition: bacground-color;
    text-shadow: 2px 2px lightgoldenrodyellow;
}

.caption:hover{
    background-color: rgba(255,255,255,0.5);
    border-bottom: 3px solid lightgoldenrodyellow;
    transition: 0.6s;
}

a.result_anchor{
    text-decoration: none;
    color: inherit;
    border: 1px solid black;
}

.category-img{
    float: left;
    width: 25%;
    height: 100%;
    opacity: 0.85;
}