/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-06-14, 01:15:47
    Author     : marcinwlodarczyk
*/

#search{
    height: 5rem;
}

.recipe-details{
    clear: both;
    position: relative;
    display: block;
    width: 60%;
    margin-left: 10vw;
    min-height: 60vw; 
    background-color: rgba(214,210,196,0.95);
    float: left;
}

.details-ingredients{
    width: 15vw;
    min-height: 60vw;
    margin-left: 2vw;
    background-color: rgba(214,210,196,0.95);
    float: left;
}

.details-ingredients h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6vw;
    text-align: center;
    color: rgb(48,48,48);
}

.recipe-details-image{
    position: absolute;
    top: 0;
    right: 0;
    width: 25vw;
}

.recipe-details-name{
    padding: 2rem;
    font-size: 3vw;
    text-align: left;
    color: darkorange;
}

.recipe-details-ingredients{
    clear: both;
    float: left;
    display: inline-block;
    list-style-type: circle;
    font-size: 1.5vw;
    padding-left: 4rem;
}

.recipe-datails-caption{
    font-size: 2vw;
    margin: 0;
    margin-top: 5vh;
    padding: 2rem;
    padding-bottom: 0;
    text-align: left;
    float: bottom;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(48,48,48);
}

.recipe-details-description{
    clear: both;
    float: bottom;
    max-width: 40vw;
    padding: 1rem;
    padding-left: 2rem;
    display: inline-block;
}

.recipe-details-short-description{
    clear: both;
    float: bottom;
    max-width: 40vw;
    padding: 1rem;
    padding-left: 2rem;
    display: inline-block;
}

.recipe-details-author{
    position: absolute;
    bottom: 1vh;
    left: 1vw;
}